.textarea {
    display: block;
    width: 630px;
    margin: 0 auto;
}

.keyboard {
    width: 630px;
    margin: 0 auto;
}

.rowFirst, .rowSecond, .rowThird, .rowFourth, .rowFifth {
    display: flex;
    justify-content: space-between;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 40px; */
    height: 40px;
    padding: 0 15px;
    border: 1px solid #000;
    cursor: pointer;
}

.key.background {
    background-color: #000;
    color: #fff;
}

.key .eng span:last-child {
    display: none;
}

.key .rus span:last-child {
    display: none;
}

.hidden {
    display: none;
}